{% extends "navbar.html" %}
{% load static %}
{% block body %}
<div class="col-md-6">
    <div class="panel panel-info">
       <div class="panel-heading">
           Customers Form
       </div>
       <div class="panel-body">
           <form  method="POST">
               {% csrf_token %}
                       <div class="form-group">
                           <label>Enter Name</label>
                           <input class="form-control" type="text" name='name' />
                       </div>
          
               <div class="form-group">
                           <label>Enter id_number</label>
                           <input class="form-control" type="number" name='id_number' />
                       </div>
               <div class="form-group">
                           <label>Enter customer_number</label>
                           <input class="form-control"  type="number" name='customer_number' />
                       </div>
             
                       
                       
                       
                       <button type="submit" class="btn btn-success">Send Message </button>
                       <button type="reset" class="btn btn-primary">Reset Fields</button>

                   </form>
           </div>
       </div>
</div>

</div>


{% endblock body %}